.article-wrapper {
    border: 2px solid whitesmoke;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: rgba(236, 236, 236, 0.479)
}

.articles-title {
    text-align: center;
}

.section-three {
    width: 100%;
}

ul {
    list-style: none;
}

.schedule-row .weatherButton {
    display: block;
}

/* .schedule-row:hover .weatherButton {
    display: block;
} */

.fa-cloud-sun {
    margin-right: 10px;
}