/* title,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
} */

.main-layout {
    width: 1000px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.standings {
    float: left;
    width: 470px;
    height: 250px;
    margin: 30px;
}

.schedule {
    float: right;
}

.section-one {
    position: relative;
    width: 100%;
    height: 400px;
}

.secton-two {
    display: block;
}

.article-wrapper {
    width: 70%;
}

/* *************SCHEDULE TABLE************* */



/* *************TWITTER************* */

.twitter-wrapper {
    width: 430px;
    float: right;
    border: 1px solid lightgray;
    position: relative;
    bottom: 349px;
    left: 120px;

}

.twit-title {
    text-align: center;
}

.fa-twitter {
    margin-right: 30px;
    color: #55acee
}